* {
    margin: 0;
}

/* section-1 */
.main {
    background-color: #424141;
    width: 100;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list {
    list-style: none;
    color: aliceblue;
    display: flex;
}

.items {
    margin-right: 30px;
    padding-right: 10px;
}

/* section-2 */

.section-2 {
    justify-content: space-around;
    padding: 10px;
    background-color: #201f1f;
    color: aliceblue;
    display: flex;
    height: 100vh;
    width: 100;
    align-items: center;
    background-image: url(./images/background.png), linear-gradient(rgb(5, 5, 5), #2e2e2e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.div-p {
    padding-left: 10%;


}

.img-div {
    width: 50%;
    padding-left: 10%;
}

.btn {
    padding: 13px 20px;
    background-color: red;
    color: aliceblue;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
}

.a {
    text-decoration: none;
    color: aliceblue;
}

/* <!-- section-3 --> */

.h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 30px;
    text-align: center;
    margin-bottom: 5%;
    color: black;
}

.section-3 {
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    padding: 90px;
    margin-bottom: 200px;
}

.img-style {
    width: 300px;
    margin-top: 50%;
}

/* <!-- section-4 --> */
.box {

    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 4px 2px 105px gray;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    margin: 70px;

}

.btn1 {
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: rgb(34, 32, 32);
    border-radius: 3px;
    border: none;
    color: white;
   
}

.section-4 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-image: url(./images/background.png),linear-gradient(rgb(5, 5, 5), #2e2e2e);
    height: 80vh;

}
.m-t{
    margin-top: 7%;
    background-color: black;
}
.h1-2{
    color:white;
    align-items: center;
    text-align: center;
    font-size: 50px;
}
.title{
    background-color:black;
    padding-top: 30px;
}
.hight{
    height: 1px;
}